/.hypothesis
__pycache__
*.pyc
*.pyo
*.log
*.prof
*.lprof
bench*.json
.coverage
*.egg-info/
.ipynb_checkpoints/
.benchmarks/
.tox/
/build/
/dist/
/Release/
/Debug/
*.pyd
*.so
*.dylib
_*.c
*.ipynb
cov*.xml
*.lock
*.lock.yml
